[submodule "external/cocos2d-iphone"]
	path = external/cocos2d-iphone
	url = git://github.com/cocos2d/cocos2d-iphone.git
[submodule "external/MonkSVG"]
	path = external/MonkSVG
	url = https://github.com/micahpearlman/MonkSVG.git
